.title{
  background-color: #585858;
  user-select: none;
}
.title h1{
    font-family: 'Solitas', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding:3%;
    color: rgb(255, 255, 255);
  }